

input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--body-md);
    padding: .75rem 1rem;
}

.double-container {
    display: flex;
    gap: 3rem; /* Espaço entre os elementos */
    justify-content: space-between; /* Distribui os elementos */
    align-items: center; /* Alinha verticalmente */
    
}

.input-wrapper-double {
    flex: 1; /* Faz com que ambos ocupem a mesma largura */
    min-width: 150px; /* Evita que fiquem pequenos demais */
    
    
    
}

#datestart, #dateend {
    text-transform: uppercase;
}


/*checkbox-tipo do local*/

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        width: 50%;
        height: 100%;
        cursor: pointer;
        inset: 0;
    } 

    

    .checkbox-image {
        flex: 0 0 1.5rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(/assets/images/icons/Box-presencial-set.svg);
    }

    &:hover, &:focus-within {
        .checkbox-image {
            background-image: url(/assets/images/icons/Box-presencial-set.svg);
        }
    }

    &:has(:checked) .checkbox-image {
        background-image: url(/assets/images/icons/Box-online-set.svg);
    }
}

textarea {
    margin-bottom: 3rem;
}


.color-picker {
    display: flex;
    gap: auto; /* Espaçamento entre as bolinhas */
    border: none; /* Remove a borda do fieldset */
    padding: 10px;
    align-items: center;
}

.color-option {
    position: relative;
    width: 40px; /* Define o tamanho da bolinha */
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px var(--shape-button);
}

.color-option input {
    all: unset; /* Remove estilos padrão do input */
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.color-option span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color);
    transition: transform 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

/* Quando o input estiver selecionado, aumenta o tamanho */
.color-option input:checked + span {
    /* transform: scale(1.2);  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid var(--brand-light);
    
     
}
