@import url(/styles/fields/index.css);


form {
    margin-top: 1.5rem;

}

fieldset {
    border: none;

    display: grid;
    gap: 1.5rem;
}

fieldset + fieldset {
    margin-top: 1rem;
}

label {
    font: var(--body-sm);
    color: var(--text-body-color);
    display: block;
    margin-top: 1rem;
    margin-bottom: .75rem;
}