

input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--body-md);
    padding: .75rem 1rem;
}

.double-container {
    display: flex;
    gap: 3rem; /* Espaço entre os elementos */
    justify-content: space-between; /* Distribui os elementos */
    align-items: center; /* Alinha verticalmente */
    
}

.input-wrapper-double {
    flex: 1; /* Faz com que ambos ocupem a mesma largura */
    min-width: 150px; /* Evita que fiquem pequenos demais */
    
    
    
}

#datestart, #dateend {
    text-transform: uppercase;
}


/*checkbox-tipo do local*/

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        width: 50%;
        height: 100%;
        cursor: pointer;
        inset: 0;
    } 

    

    .checkbox-image {
        flex: 0 0 1.5rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(../../assets/images/icons/Box-presencial-set.svg);
    }

    &:hover, &:focus-within {
        .checkbox-image {
            background-image: url(../../assets/images/icons/Box-presencial-set.svg);
        }
    }

    &:has(:checked) .checkbox-image {
        background-image: url(../../assets/images/icons/Box-online-set.svg);
    }
}

textarea {
    margin-bottom: 3rem;
}

/*seleção de cores*/

.color-picker {
    display: flex;
    gap: auto; /* Espaçamento entre as bolinhas */
    border: none; /* Remove a borda do fieldset */
    padding: 10px;
    align-items: center;
}

.color-option {
    position: relative;
    width: 40px; /* Define o tamanho da bolinha */
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px var(--shape-button);
}

.color-option input {
    all: unset; /* Remove estilos padrão do input */
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.color-option span {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color);
    transition: transform 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

/* Quando o input estiver selecionado, aumenta o tamanho */
.color-option input:checked + span {
    /* transform: scale(1.2);  */
    border: 2.5px solid var(--brand-light);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
    
     
}

.template-span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font:--body-sm;
    color: var(--text-body-color);
}
/*---------------------------------------------------------------------------*/


/*customização da festa template*/

/* Define a área do grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));  /*Responsivo */
    gap: 8px;
    justify-content: center;
    align-items: center;
}

/* Define os itens do grid */
.grid-item {
    text-align: center;
}

/* Remove aparência padrão do input */
.grid-item input {
    display: none;
}

/* Estiliza a imagem */
.no-selected {
    width: 100%;
    max-width: 100px;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
    cursor: pointer;
    border: 3px solid transparent; /* Define a borda invisível para evitar "pulo" */
}

/* Nome do tema */

.template-customization label span {
    position: absolute;
    bottom: 20px;
    left: -10px;
    width: 100%;
    text-align: center;} 

/* Quando um template for selecionado, adiciona a borda azul */
.grid-item input:checked + .no-selected {
    border: 3px solid var(--brand-light); /* Azul */
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4); /* Efeito sutil */
}

/*--------------------------------------------------------------------------------*/

/*Estilo dark e light*/

.checkbox-dark-light {
    flex: 0 0 1.5rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(/../assets/images/icons/dark-mode.svg);
}

    &:hover, &:focus-within {
    .checkbox-dark-light {
        background-image: url(/../assets/images/icons/dark-mode.svg);
    }
}

    &:has(:checked) .checkbox-dark-light {
    background-image: url(/../assets/images/icons/light-mode.svg);
}

/*---------------------------------------------------------------------------------------------*/

/*Upload de arquivos*/

/* Esconde o input padrão */
.input-label-upload {
    font: var(--body-sm);
    color: var(--text-body-color);
    display: block;
    margin-top: 1rem;
    margin-bottom: .75rem;
    
}

.file-input {
    display: none;
}

/* Estiliza a label para parecer um botão com imagem */
.custom-file-label {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    width: 150px;
    height: 35px;
    text-align: center;
    background-color: var(--shape-button);
    transition: background 0.3s;
}

/* Estiliza a imagem dentro do label */
.upload-image {
    
    width: 30px;  /* Ajuste o tamanho conforme necessário */
    height: 30px;
    margin-bottom: 5px;
}

/* Muda o fundo ao passar o mouse */
.custom-file-label:hover {
    background-color: var(--shape-hover);
}

#terms-and-conditions-0 {
    width: 4%;
}

#terms-and-conditions-1 {
    width: 4%;
}

#terms-and-conditions-2 {
    width: 4%;
}

.double-terms-container {
    display: flex;
    gap: 1rem; /* Espaço entre os elementos */
    align-items: left; /* Alinha verticalmente */
    max-height: 35px;

    
}

.terms-and-conditions { 
    margin-top: 48px;
    padding: 48px;
    border-top: solid 1px var(--input-placeholder);

}

strong {
    text-decoration: underline;
    color: var(--brand-light);
}

.input-wrapper-0:hover,
.input-wrapper-0:focus-within {
    #terms-and-conditions-0 {
        background-image: url(/../assets/images/icons/checkterms.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.input-wrapper-0 input:checked + #terms-and-conditions-1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(/../assets/images/icons/checkterms.svg);
}

.input-wrapper-1:hover,
.input-wrapper-1:focus-within {
    #terms-and-conditions-1 {
        background-image: url(/../assets/images/icons/checkterms.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.input-wrapper-1 input:checked + #terms-and-conditions-1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(/../assets/images/icons/checkterms.svg);
}

.input-wrapper-2:hover,
.input-wrapper-2:focus-within {
    #terms-and-conditions-2 {
        background-image: url(/../assets/images/icons/checkterms.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.input-wrapper-2 input:checked + #terms-and-conditions-1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(/../assets/images/icons/checkterms.svg);
}

#ticket-generator {
    display: flex;
    justify-content: right;
    
    & button {
        width: 180px;
        height: 50px;
        border-radius: 12px;
        background-color: var(--brand-mid);
        
        &:hover, &:focus-within {
            cursor: pointer;
        }
    }
  
}

